html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}
#blockReg{
	margin: 0;
	min-width: 600px;
	min-height: 300px;
	max-width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

#blockChat{
	margin: 0;
	min-width: 600px;
	min-height: 300px;
	max-width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
#ChatList1{
	float: left;
	width: 200px;
	height: 100%;
	border-right: 1px solid red;
}
#ChatList1 > div{
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	display: table;
}
#ChatList2{
	display: table-row;
	width: 200px;
	height: 100%;
}
#ChatList3{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
#ChatList3::-webkit-scrollbar { width: 0; }
.ChatBTN{
	width: 100%;
	height: 49px;
	border-bottom: 1px solid red;
	cursor: pointer;
	background-color: #edeef0;
}
.ChatBTN:hover{background-color: #5555ff;}
#ChatBody1{
	margin-left: 201px;
	height: 100%;
}
#ChatBody1 > div{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: table;
}
#ChatBodyList1{
	display: table-row;
}
#ChatBodyList2{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ChatBodyMessage{
	width: 100%;
	border-bottom: 1px solid red;
	word-break: break-all;
}
.ChatBodyMessageLogin{
	width: 100%;
	height: 25px;
	word-break: break-all;
}
.ChatBodyMessageText{
	width: 100%;
	word-break: break-all;
}
#ChatBodyInput{
	display: table-row;
	width: 100%;
	max-height: 300px;
	height: fit-content;
}
#ChatBodyInput > div{
	border-top: 2px solid red;
}
#ChatBodyInput > div > div{
	min-height: 36px;
	max-height: 200px;
	width: 100%;
	padding: 9px 106px 10px 13px;
	overflow-y: auto;
	overflow-x: hidden;
	line-height: 17px;
	word-break: break-all;
	box-sizing: border-box;
	color: #000;
	background: #fff;
	font-size: 13px;
	font-family: -apple-system,BlinkMacSystemFont,
		Roboto,Helvetica Neue,sans-serif;
	-webkit-user-modify: read-write;
}