html, body {
	margin: 0;
	padding: 0;
	/*width: 100%;
	height: 100%;*/
}
.bordersc{
	border-style: solid;
	border-color: navy;
}
.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.pc-0 > *{
	padding: 0 !important;
}
.mc-0 > *{
	margin: 0 !important;
}
header{
	border-width: 0 0 1px 0;
}
.message{
	max-width:99%;
	margin:2px;
}
*{
	margin: 0;
	padding: 0;
}
.message .body{
	max-width: 827px;
	position:relative;
	padding:8px;
	padding-left:10px;
	margin-left:15px;
	margin-bottom:3px;
	border-radius:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	-khtml-border-radius:7px;
	background: rgba(255, 255, 254, 0.97);
	box-shadow: 0 0 10px rgba(0,0,0,0.97);
	display:inline-block;
}
.message .body .text{
	overflow: hidden;
	font-size: 14px;
	display: block;
	padding-right: 5px;
	margin-top: 5px;
	max-width: 877px;
	word-wrap: break-word;
}
#chatinputarea{
	max-width:900px;
	border-width: 1px 0 0 0;
    margin: 0;
}
#chatinputarea>.inputarea{
	min-height: 36px;
	max-height: 200px;
	width: 100%;
	max-width: 900px;
	padding: 9px 13px 10px 13px;
	overflow-y: auto;
	overflow-x: hidden;
	line-height: 17px;
	word-break: break-all;
	box-sizing: border-box;
	color: #000;
	background: #fff;
	font-size: 13px;
	font-family: -apple-system,BlinkMacSystemFont,
		Roboto,Helvetica Neue,sans-serif;
	-webkit-user-modify: read-write-plaintext-only;
}
.nick {
	font-size: 12px;
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-right: 5px;
}
.ava{
	width: 32px;
	height: 32px;
	border-radius: 7px;
	vertical-align: top;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	display: inline-block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.vv {
	 min-width: 50px;
	 text-align: right;
	 line-height: 14px;
	 color: #696969;
	 font-size: 10px;
 }
.vvi {
	width: 15px;
	height: 15px;
}
.fd {
	max-width: 14px;
	height: auto;
	cursor: pointer;
}